.root {
    -fx-background-color: #000000;
}

.primary-button {
    -fx-font-size: 16px;
    -fx-background-color: #7fd1ff;
    -fx-text-fill: #000000;
    -fx-background-radius: 10px;
}

.primary-button:hover {
    -fx-background-color: #6cb0d6;
}

.primary-button:pressed {
    -fx-effect: innershadow(gaussian, rgb(52, 83, 101), 5, 0.5, 0, 0);
}

.secondary-button {
    -fx-background-color: #cacaca;
}

.secondary-button:hover {
    -fx-background-color: #9f9f9f;
}

.secondary-button:pressed {
    -fx-effect: innershadow(gaussian, rgb(113, 113, 113), 5, 0.5, 0, 0);
}

.input-bar {
    -fx-font-size: 16px;
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-background-radius: 10px;
}