.root {
    -fx-background-color: #000000;
}

.primary-button {
    -fx-font-size: 16px;
    -fx-background-color: #7fd1ff;
    -fx-text-fill: #000000;
    -fx-background-radius: 10px;
}

.primary-button:hover {
    -fx-background-color: #6cb0d6;
}

.primary-button:pressed {
    -fx-effect: innershadow(gaussian, rgb(52, 83, 101), 5, 0.5, 0, 0);
}

.secondary-button {
    -fx-font-size: 16px;
    -fx-background-color: #cacaca;
    -fx-text-fill: #000000;
    -fx-background-radius: 10px;
}

.secondary-button:hover {
    -fx-background-color: #9f9f9f;
}

.secondary-button:pressed {
    -fx-effect: innershadow(gaussian, rgb(113, 113, 113), 5, 0.5, 0, 0);
}

.active-secondary-button {
    -fx-background-color: #3b81ba;
}

.input-bar {
    -fx-font-size: 16px;
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-background-radius: 10px;
}

.popup-input-bar {
    -fx-font-size: 16px;
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-background-radius: 10px;
    -fx-border-color: #878787;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

.popup {
    -fx-background-radius: 10px;
}

.popup-text {
    -fx-font-size: 18px;
    -fx-text-fill: #878787;
}

.popup-text-small {
    -fx-font-size: 14px;
    -fx-text-fill: #878787;
}

.popup-title {
    -fx-font-size: 22px;
    -fx-text-fill: #878787;
}

.popup-message {
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
}

.success-popup {
    -fx-background-color: #98ff98;
}
.error-popup {
    -fx-background-color: #ff9898;
}

.edit-popup {
    -fx-background-color: rgba(135, 135, 135, 0.5);
}

.edit-wrapper {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}

.close-button {
    -fx-background-color: #ff9898;
    -fx-background-radius: 10px;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}

.close-button:hover {
    -fx-background-color: #e48989;
}

.close-button:pressed {
    -fx-effect: innershadow(gaussian, rgb(152, 93, 94), 5, 0.5, 0, 0);
}

.next-button {
    -fx-background-color: #cacaca;
    -fx-border-color: transparent;
    -fx-shape: "M0,0 L2,0 L1,1 L0,0";
}

.next-button:hover {
    -fx-background-color: #9f9f9f;
}

.next-button:pressed {
    -fx-effect: innershadow(gaussian, rgb(113, 113, 113), 5, 0.5, 0, 0);
}

.prev-button {
    -fx-background-color: #cacaca;
    -fx-border-color: transparent;
    -fx-shape: "M0,2 L2,2 L1,1 L0,2";
}

.prev-button:hover {
    -fx-background-color: #9f9f9f;
}

.prev-button:pressed {
    -fx-effect: innershadow(gaussian, rgb(113, 113, 113), 5, 0.5, 0, 0);
}

